# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.coverage
htmlcov/
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles

# React/JavaScript
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/lon_front/build
/lon_front/dist
/lon_front/.cache

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Databases
*.sqlite3

# Docker
.docker/data

# Test coverage
.coverage
coverage/

# Ne pas ignorer les fichiers de migration
!*/migrations/*.py